body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: salmon;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

@import "https://fonts.googleapis.com/css?family=Lobster&display=swap";

@import "./small.scss";
@import "./medium.scss";