@import "https://fonts.googleapis.com/css?family=Lobster|Bad+Script1&display=swap";
@import url(../../node_modules/material-icons/iconfont/material-icons.css);
@import url(../../node_modules/material-icons/iconfont/material-icons.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: salmon;
  overflow-x: hidden;
  position: relative;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: inherit; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px) {
  .app-container {
    display: flex;
    flex-flow: column;
    background: white;
    border-radius: 3px; }
    .app-container .homelanding-banner {
      display: flex;
      flex-flow: row;
      text-align: center;
      background: black;
      color: white;
      padding: 15px 15px; }
    .app-container .navi-container {
      display: flex;
      flex-flow: column;
      color: white;
      padding: 8px 0px; }
      .app-container .navi-container .navi-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s; }
        .app-container .navi-container .navi-overlay .navi-overlay-close {
          text-align: center;
          padding: 2em 0em 0em 0px;
          color: white; }
        .app-container .navi-container .navi-overlay .navi-overlay-content {
          position: relative;
          top: 25%;
          width: 100%;
          text-align: center;
          margin-top: 30px; }
          .app-container .navi-container .navi-overlay .navi-overlay-content a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
            font-weight: bold; }
      .app-container .navi-container .navi-options {
        visibility: hidden;
        display: none; }
      .app-container .navi-container .navi-options-sm {
        display: flex;
        flex-flow: row;
        justify-content: space-around; }
        .app-container .navi-container .navi-options-sm .navi-options-sm-left {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center; }
          .app-container .navi-container .navi-options-sm .navi-options-sm-left span {
            font-size: 28px; }
        .app-container .navi-container .navi-options-sm .navi-options-sm-middle {
          display: flex;
          flex-flow: column; }
          .app-container .navi-container .navi-options-sm .navi-options-sm-middle .navi-brand {
            font-family: 'Lobster', cursive;
            font-size: 36px;
            font-weight: 600;
            text-align: center; }
          .app-container .navi-container .navi-options-sm .navi-options-sm-middle .navi-social {
            font-family: 'Lobster', cursive;
            text-align: center; }
        .app-container .navi-container .navi-options-sm .navi-options-sm-right {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center; }
          .app-container .navi-container .navi-options-sm .navi-options-sm-right span {
            font-size: 28px; }
  .homelanding-container {
    background: white;
    display: flex;
    flex-flow: column; }
    .homelanding-container .sale {
      color: white;
      text-align: center;
      padding: 5px 0px;
      background: black;
      width: 100%; }
    .homelanding-container .homelanding-textinfo {
      display: none;
      visibility: hidden; }
    .homelanding-container .homelanding-image {
      display: flex;
      flex-flow: column;
      z-index: 0;
      background: rgba(0, 0, 0, 0.9);
      background-image: url("../images/candle3_trans.png");
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      .homelanding-container .homelanding-image .homelanding-text {
        font-size: 20px;
        font-weight: 600;
        color: white;
        width: 100%;
        height: 100%;
        z-index: 0;
        display: flex;
        flex-flow: column;
        justify-content: center; }
        .homelanding-container .homelanding-image .homelanding-text span {
          display: block;
          text-align: center;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          background: rgba(0, 0, 0, 0);
          padding: 8px 0px;
          font-size: 34px;
          font-family: 'Lobster', cursive; }
        .homelanding-container .homelanding-image .homelanding-text .homelanding-text-buttons {
          display: flex;
          flex-flow: column;
          margin-top: 1em;
          text-align: center;
          align-items: flex-end; }
          .homelanding-container .homelanding-image .homelanding-text .homelanding-text-buttons button {
            width: auto;
            font-size: 20px;
            padding: 10px 30px;
            background: white;
            color: black;
            opacity: 1;
            border: 2px solid #e72444;
            color: #e72444;
            font-weight: 600;
            text-align: center;
            align-self: center;
            font-family: 'Lobster', cursive; }
  .homelanding-break {
    height: 10px;
    background: salmon; }
  .homelanding-inventory-container {
    display: flex;
    flex-flow: column;
    padding: 0em 0em 3em 0px; }
    .homelanding-inventory-container .homelanding-inventory-banner {
      text-align: center;
      font-family: 'Lobster', cursive; }
    .homelanding-inventory-container .homelanding-inventory-button {
      width: 25%;
      font-size: 14px;
      padding: 10px 0px;
      background: #FFFFFF;
      opacity: .8;
      border: 1px solid #e72444;
      color: #e72444;
      margin-bottom: 15px;
      font-weight: 600;
      align-self: center; }
    .homelanding-inventory-container .homelanding-inventory-collection-row {
      display: flex;
      flex-flow: row;
      overflow-y: scroll;
      width: 100%; }
      .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item {
        display: flex;
        flex-flow: column;
        padding-left: 10px; }
        .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item .homelanding-inventory-collection-item-img {
          width: 100%;
          height: 100px;
          background-image: url("../images/candle3.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 3px; }
          .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item .homelanding-inventory-collection-item-img img {
            width: 100%;
            height: auto; }
        .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item p {
          width: 150px;
          text-align: center;
          margin: 0;
          font-weight: 600; }
        .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item span {
          text-align: center; }
  .homelanding-subscribe-container {
    background: rgba(0, 0, 0, 0.9);
    background-image: url("../images/candle1_trans.png");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .homelanding-subscribe-container p {
      margin: 0px 0px 15px 0px;
      font-size: 18px;
      font-family: "Lobster";
      font-weight: 400;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    .homelanding-subscribe-container h3 {
      margin: 0px 0px 15px 0px;
      font-size: 32px;
      font-family: "Lobster";
      font-weight: 400;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
    .homelanding-subscribe-container input {
      width: 75%;
      padding: 15px 10px;
      text-align: center;
      border: .5px solid black;
      margin: 15px 0px; }
    .homelanding-subscribe-container button {
      padding: 12px 20px;
      border: 1px solid #e72444;
      font-size: 16px;
      color: #e72444;
      background: white; }
  .homelanding-IG-container {
    display: flex;
    flex-flow: column; }
    .homelanding-IG-container h2 {
      text-align: center;
      width: 100%;
      margin: 1em 0em 0em 0em; }
    .homelanding-IG-container p {
      text-align: center;
      margin: 15px 0px; }
    .homelanding-IG-container .homelanding-IG-images {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-bottom: 1em; }
      .homelanding-IG-container .homelanding-IG-images div {
        flex-basis: 175px;
        height: 125px;
        border: .5px solid white; }
        .homelanding-IG-container .homelanding-IG-images div img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden; }
    .homelanding-IG-container button {
      width: 50%;
      text-align: center;
      align-self: center;
      border: 1px solid #e72444;
      color: #e72444;
      padding: 15px 0px;
      margin: 15px 0;
      font-size: 18px;
      background: white; }
  .shop-container {
    display: flex;
    flex-flow: column; }
    .shop-container .shop-home-items-banner {
      text-align: center;
      margin: 1em 0em .5em 0em; }
    .shop-container .shop-home-items-text {
      text-align: center;
      font-size: 14px;
      margin: 0px 15px;
      padding: 10px 10px;
      background: lightgrey; }
    .shop-container .shop-categories {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      margin: 1em 0em 1em 0em; }
      .shop-container .shop-categories span {
        text-align: center;
        border-right: .5px solid black; }
    .shop-container .shop-home-items-container {
      display: flex;
      flex-flow: column; }
      .shop-container .shop-home-items-container .shop-home-item {
        display: flex;
        flex-flow: column;
        margin: 0px 15px 1em 15px;
        text-align: center;
        /*
                .shop-home-item-info-view {
                    text-align: end;
                    flex: 1;
                    align-self: center;
                
                    button {
                        padding: 20px 20px;
                        background: white;
                        border: 1px solid $custom-pink;
                        color: $custom-pink;
                        font-size: 16px;
                    }
                }
                */ }
        .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img {
          width: 100%;
          height: 300px; }
          .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: transform .2s;
            border-radius: 3px; }
        .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info {
          display: flex;
          flex-flow: row;
          margin: 10px 0px; }
          .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text {
            flex: 1; }
            .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text h2 {
              color: #e72444;
              margin: 0; }
            .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text p {
              margin: 0;
              font-weight: 600; }
      .shop-container .shop-home-items-container .shop-home-shopall {
        display: flex;
        flex-flow: row;
        justify-content: center; }
        .shop-container .shop-home-items-container .shop-home-shopall button {
          padding: 15px 100px;
          border: 1px solid #e72444;
          background: white;
          color: #e72444;
          font-size: 18px; }
  .footer-container {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white; } }

@media (min-width: 992px) and (max-width: 1199px), (min-width: 992px), (min-width: 812px) {
  .app-container {
    display: flex;
    flex-flow: column;
    background: white;
    margin: 1em 1.5em 0em 1.5em; }
    .app-container .navi-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 10px auto auto 10px; }
      .app-container .navi-container .navi-brand {
        grid-column: 2/4;
        grid-row-start: 2;
        justify-self: center;
        font-family: 'Lobster', cursive;
        font-size: 42px;
        font-weight: 600; }
      .app-container .navi-container .navi-social {
        grid-column: 2/4;
        grid-row-start: 3;
        justify-self: center; }
      .app-container .navi-container .navi-options {
        grid-column: 8/13;
        grid-row-start: 2;
        justify-self: end;
        align-self: center;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%; }
    .app-container .homelanding-container {
      background: white;
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: 50px auto 20px;
      grid-gap: 10px;
      padding: 1em; }
      .app-container .homelanding-container .homelanding-textinfo {
        grid-column: 2/9;
        grid-row-start: 2;
        display: flex;
        flex-flow: column;
        justify-self: center;
        align-self: center;
        text-align: center; }
        .app-container .homelanding-container .homelanding-textinfo h1 {
          padding: 0;
          margin: 0; }
        .app-container .homelanding-container .homelanding-textinfo p {
          margin: 1em 0em 1em 0em; }
        .app-container .homelanding-container .homelanding-textinfo button {
          font-size: 16px;
          padding: 30px 30px;
          background: white;
          border: 2px solid #e72444;
          color: #e72444;
          /*
                    background: pink;
                    padding: 30px 30px;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid black;
                    border-radius: 2px;
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                    */ }
      .app-container .homelanding-container .homelanding-banner {
        text-align: center;
        grid-column: 10/24;
        grid-row-start: 1;
        justify-self: center;
        align-self: end;
        font-weight: 600;
        text-decoration: underline; }
      .app-container .homelanding-container .homelanding-new {
        grid-column: 5/9;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-self: center;
        align-self: center; }
        .app-container .homelanding-container .homelanding-new img {
          grid-column: 1/1;
          grid-row: 1/1;
          object-fit: cover;
          width: 100%;
          height: auto;
          opacity: .75;
          z-index: 1; }
        .app-container .homelanding-container .homelanding-new h1 {
          grid-column: 1/1;
          grid-row: 1/1;
          opacity: 1;
          z-index: 2;
          align-self: center;
          justify-self: center; }
      .app-container .homelanding-container .homelanding-shop {
        grid-column: 9/12;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: center; }
        .app-container .homelanding-container .homelanding-shop img {
          grid-column: 1/1;
          grid-row: 1/1;
          object-fit: cover;
          width: 100%;
          height: auto;
          opacity: .75;
          z-index: 1; }
        .app-container .homelanding-container .homelanding-shop h1 {
          grid-column: 1/1;
          grid-row: 1/1;
          opacity: 1;
          z-index: 2;
          align-self: center;
          justify-self: center; }
      .app-container .homelanding-container .homelanding-image {
        grid-column: 10/24;
        grid-row-start: 2; }
        .app-container .homelanding-container .homelanding-image img {
          width: 100%;
          height: auto; }
        .app-container .homelanding-container .homelanding-image .homelanding-small {
          display: none;
          visibility: hidden; }
    .app-container .homelanding-break {
      height: 10px;
      background: salmon; }
    .app-container .homelanding-carol-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 50px;
      padding: 1em;
      text-align: center; }
      .app-container .homelanding-carol-container .homelanding-carol-img {
        grid-column: 1/1;
        grid-row-start: 2; }
        .app-container .homelanding-carol-container .homelanding-carol-img img {
          width: 50%;
          height: auto; }
      .app-container .homelanding-carol-container .homelanding-carol-navi {
        grid-column: 1/1;
        grid-row-start: 3; }
      .app-container .homelanding-carol-container h2 {
        grid-column: 1/1;
        grid-row-start: 1; }
    .app-container .homelanding-inventory-container {
      display: flex;
      flex-flow: column;
      padding: 1em; }
      .app-container .homelanding-inventory-container .homelanding-inventory-banner {
        margin: 0;
        text-align: center;
        font-family: 'Lobster', cursive; }
      .app-container .homelanding-inventory-container .homelanding-inventory-collection-row {
        display: flex;
        flex-flow: row; }
        .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item {
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 1em;
          flex-basis: 50%; }
          .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item h1 {
            margin: 0;
            text-align: center;
            width: 100%; }
          .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item .img {
            width: 275px;
            height: 275px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2px; }
    .app-container .homelanding-about-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 1em 5em 0em 5em; }
      .app-container .homelanding-about-container .homelanding-about-banner {
        font-family: 'Lobster', cursive;
        margin: 0; }
      .app-container .homelanding-about-container .homelanding-about-item {
        width: 100%;
        height: 160px; }
        .app-container .homelanding-about-container .homelanding-about-item .homelanding-about-img {
          background: 1px solid black;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          background-image: url("../images/blackbackgroundimage.jpg");
          background-position: center;
          background-size: cover; }
      .app-container .homelanding-about-container .homelanding-about-text {
        padding: 1em 5em 5em 5em; }
        .app-container .homelanding-about-container .homelanding-about-text h1 {
          padding: 0;
          margin: 0;
          text-align: center; }
        .app-container .homelanding-about-container .homelanding-about-text p {
          text-align: center; }
        .app-container .homelanding-about-container .homelanding-about-text button {
          width: 100%;
          font-size: 16px;
          padding: 30px 30px;
          background: white;
          border: 2px solid #e72444;
          color: #e72444; }
    .app-container .shop-container {
      display: flex;
      flex-flow: column;
      padding-top: 3em; }
      .app-container .shop-container .shop-categories {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px 0px;
        font-weight: 600; }
      .app-container .shop-container .shop-home-items-banner {
        padding-left: 1em;
        margin: 1em 0em .5em 0em; }
        .app-container .shop-container .shop-home-items-banner span {
          font-family: 'Lobster', cursive;
          border-bottom: 3px solid black; }
      .app-container .shop-container .shop-home-items-container {
        display: flex;
        flex-flow: row wrap;
        padding: 0em 1em 1em 1em; }
        .app-container .shop-container .shop-home-items-container .shop-home-item {
          display: flex;
          flex-flow: column wrap;
          flex-basis: 45%;
          padding: 1em; }
          .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img {
            width: 100%;
            height: 250px; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              overflow: hidden;
              transition: transform .2s;
              border-radius: 3px; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img:hover {
              transform: scale(0.95); }
          .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info {
            display: flex;
            flex-flow: row; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text {
              display: flex;
              flex-flow: column;
              flex-basis: 75%;
              margin: 0; }
              .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text h2, .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text p {
                margin: 0; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view {
              flex: 1;
              justify-self: center;
              align-self: center;
              text-align: center; }
              .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view button {
                width: 100%;
                padding: 15px 0px;
                border: 1px solid #e72444;
                color: #e72444;
                font-weight: 600;
                background: white;
                border-radius: 3px; }
      .app-container .shop-container .shop-home-shopall {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0em 0em 1em 0em; }
        .app-container .shop-container .shop-home-shopall button {
          width: 80%;
          padding: 15px 0px;
          border: 1px solid #e72444;
          color: #e72444;
          font-weight: 600;
          font-size: 24px;
          background: white;
          border-radius: 3px; }
      .app-container .shop-container .shop-home-item-subscribe {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5em; }
        .app-container .shop-container .shop-home-item-subscribe h1, .app-container .shop-container .shop-home-item-subscribe p, .app-container .shop-container .shop-home-item-subscribe form {
          margin: 0; }
        .app-container .shop-container .shop-home-item-subscribe h1 {
          margin: 0em 0em .5em 0em; }
        .app-container .shop-container .shop-home-item-subscribe p {
          margin: 0em 0em 1em 0em; }
        .app-container .shop-container .shop-home-item-subscribe form {
          text-align: center;
          width: 100%; }
          .app-container .shop-container .shop-home-item-subscribe form #email {
            width: 40%;
            padding: 15px 15px; }
          .app-container .shop-container .shop-home-item-subscribe form #submit {
            border: 1px solid #e72444;
            color: #e72444;
            background: white;
            padding: 15px 15px; }
    .app-container .shop-product-container {
      display: flex;
      flex-flow: column; }
      .app-container .shop-product-container .shop-product-main-navi {
        grid-column: 2/24;
        grid-row-start: 1;
        padding: 20px 0px;
        font-weight: 600; }
      .app-container .shop-product-container .shop-product-main {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, auto); }
        .app-container .shop-product-container .shop-product-main .shop-product-main-img {
          grid-column: 2/12;
          grid-row-start: 2;
          width: 100%;
          height: 200px; }
          .app-container .shop-product-container .shop-product-main .shop-product-main-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: transform .2s;
            border-radius: 3px; }
        .app-container .shop-product-container .shop-product-main .shop-product-main-img-option {
          grid-column: 2/12;
          grid-row-start: 3;
          text-align: center;
          padding: 15px 0px; }
        .app-container .shop-product-container .shop-product-main .shop-product-main-info {
          grid-column: 14/24;
          grid-row-start: 2; }
          .app-container .shop-product-container .shop-product-main .shop-product-main-info h1 {
            margin: 0; }
      .app-container .shop-product-container .shop-product-description {
        display: flex;
        flex-flow: column; }
        .app-container .shop-product-container .shop-product-description h3 {
          text-align: center;
          margin: .5em 0em; }
        .app-container .shop-product-container .shop-product-description p {
          margin: 0em 3em;
          padding: 1em 3em;
          border: 1px dotted black; }
      .app-container .shop-product-container .shop-product-reviews {
        display: flex;
        flex-flow: column;
        margin: 0em 0em;
        padding: 1em 3em; }
        .app-container .shop-product-container .shop-product-reviews #reviews {
          margin: 0;
          border-bottom: 1px solid black; }
        .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post {
          display: flex;
          flex-flow: row;
          margin: 0em 0em 1em 0em; }
          .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-user {
            display: flex;
            flex-flow: column;
            align-items: center; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-user h3 {
              margin: 0;
              padding: 15px 0em; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-user .shop-product-reviews-post-user-avatar {
              height: 50px;
              width: 50px; }
              .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-user .shop-product-reviews-post-user-avatar img {
                width: 100%;
                height: 100%;
                border-radius: 3px; }
          .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info {
            display: flex;
            flex-flow: column;
            justify-content: center;
            flex: 1;
            padding: 0em 0em 0em 2em; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info p, .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info h3 {
              margin: 0; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info h3 {
              text-align: center;
              padding: 0px 0px 15px 0px; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info #subject {
              font-weight: 600; }
            .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-product-reviews-post-info #date {
              align-self: flex-end;
              font-size: 12px; }
          .app-container .shop-product-container .shop-product-reviews .shop-product-reviews-post .shop-products-reviews-post-helpful {
            display: flex;
            flex-basis: 40px;
            justify-content: center;
            align-items: center;
            height: auto; }
    .app-container .footer-container {
      padding: 3em 0em 3em 0em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      .app-container .footer-container h1 {
        margin: 0; } }
