body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: salmon;
}

@import "https://fonts.googleapis.com/css?family=Lobster&display=swap";

.app-container {
    display: flex;
    flex-flow: column;
    background: white;
    margin: 1em 1.5em 0em 1.5em;

    //Navigation
    .navi-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 10px auto auto 10px;

        .navi-brand {
            grid-column: 1/3;
            grid-row-start: 2;
            justify-self: center;
            font-family: 'Lobster', cursive;
            font-size: 42px;
            font-weight: 600;
        }
        
        .navi-social {
            grid-column: 1/3;
            grid-row-start: 3;
            justify-self: center;
        }

        .navi-options {
            grid-column: 8/13;
            grid-row-start: 2;
            justify-self: end;
            align-self: center;
            font-weight: 600;
            text-decoration: underline;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 100%;
        }
    }

    .homelanding-container {
        background: white;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50px auto 50px;
        grid-gap: 10px;
        padding: 1em;
        
        .homelanding-textinfo {
            grid-column: 2/4;
            grid-row-start: 2;
            
            display: flex;
            flex-flow: column;
            justify-self: center;
            align-self: center;
            h1 {
                padding: 0;
                margin: 0;
            }

            p {
                margin: 0;
            }
        }
        
        .homelanding-banner {
            grid-column: 1/13;
            grid-row-start: 1;
            justify-self: center;
            align-self: center;
            font-weight: 600;
            text-decoration: underline;
        }

        .homelanding-new {
            grid-column: 5/9;
            grid-row-start: 2;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            justify-self: center;
            align-self: center;

            img {
                grid-column: 1/1;
                grid-row: 1/1;
                object-fit: cover;
                width: 100%;
                height: auto;
                opacity: .75;
                z-index: 1;
            }

            h1 {
                grid-column: 1/1;
                grid-row: 1/1;
                opacity: 1;
                z-index: 2;
                align-self: center;
                justify-self: center;
            }
        }

        .homelanding-shop {
            grid-column: 9/12;
            grid-row-start: 2;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            
            align-self: center;
            img {
                grid-column: 1/1;
                grid-row: 1/1;
                object-fit: cover;
                width: 100%;
                height: auto;
                opacity: .75;
                z-index: 1;
            }

            h1 {
                grid-column: 1/1;
                grid-row: 1/1;
                opacity: 1;
                z-index: 2;
                align-self: center;
                justify-self: center;
            }
        }

        .homelanding-image {
            grid-column: 5/12;
            grid-row-start: 2;

            img {
                width: 100%;
                height: auto;
            }
        }
        .homelanding-candle3 {

        }

        .homelanding-candle4 {
            
        }
    }

        .homelanding-break {
            height: 10px;
            background: salmon;
        }

    .homelanding-carol-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 50px;
        padding: 1em;
        text-align: center;
        
        .homelanding-carol-img {
            grid-column: 1/1;
            grid-row-start: 2;
            //margin: 0em 5em 0em 5em;

            img {
                width: 50%;
                height: auto;
            }
        }

        .homelanding-carol-navi {
            grid-column: 1/1;
            grid-row-start: 3;
        }

        h2 {
            grid-column: 1/1;
            grid-row-start: 1;
        }
    }

    .homelanding-inventory-container {
        display: flex;
        flex-flow: column;
        padding: 1em;

        .homelanding-invetory-collection-row {
            display: flex;
            flex-flow: row;

            .test {
                display: flex;
                flex-flow: column;

                .img {
                    flex-basis: 50%;
                    //padding: 1em;
                    margin: 3em;
                    width: 300px;
                    height: 300px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}