@import "https://fonts.googleapis.com/css?family=Lobster&display=swap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: salmon;
  overflow-x: hidden;
  position: relative;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: inherit; }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px) {
  .app-container {
    display: flex;
    flex-flow: column;
    background: white;
    margin: 1em 1em 0em 1em;
    border-radius: 3px; }
    .app-container .navi-container {
      padding: .5em 0em 0em 0em;
      display: grid;
      grid-template-columns: 1fr; }
      .app-container .navi-container .navi-brand {
        grid-column: 1/13;
        grid-row-start: 1;
        justify-self: center;
        align-items: center;
        font-family: 'Lobster', cursive;
        font-size: 42px;
        font-weight: 600; }
      .app-container .navi-container .navi-social {
        grid-column: 1/13;
        grid-row-start: 2;
        justify-self: center; }
      .app-container .navi-container .navi-options {
        visibility: hidden;
        display: none; }
  .homelanding-container {
    background: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding: 1em; }
    .homelanding-container .homelanding-textinfo {
      display: none;
      visibility: hidden; }
    .homelanding-container .homelanding-banner {
      display: none;
      visibility: hidden; }
    .homelanding-container .homelanding-image {
      grid-column: 1/3;
      grid-row-start: 1;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto; }
      .homelanding-container .homelanding-image img {
        grid-column: 1/3;
        grid-row-start: 1;
        width: 100%;
        height: auto;
        border-radius: 3px;
        z-index: 1;
        opacity: .7; }
      .homelanding-container .homelanding-image .homelanding-small {
        grid-column: 1/3;
        grid-row-start: 1;
        z-index: 2;
        justify-self: center;
        align-self: center;
        font-family: 'Lobster', cursive;
        font-size: 32px;
        font-weight: 600;
        color: black;
        opacity: 1; }
  .homelanding-break {
    height: 10px;
    background: salmon; }
  .homelanding-carol-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 50px;
    padding: 1em;
    text-align: center; }
    .homelanding-carol-container .homelanding-carol-img {
      grid-column: 1/1;
      grid-row-start: 2; }
      .homelanding-carol-container .homelanding-carol-img img {
        width: 50%;
        height: auto; }
    .homelanding-carol-container .homelanding-carol-navi {
      grid-column: 1/1;
      grid-row-start: 3; }
    .homelanding-carol-container h2 {
      grid-column: 1/1;
      grid-row-start: 1; }
  .homelanding-inventory-container {
    display: flex;
    flex-flow: column;
    padding: 1em; }
    .homelanding-inventory-container .homelanding-invetory-collection-row {
      display: flex;
      flex-flow: row; }
      .homelanding-inventory-container .homelanding-invetory-collection-row .test {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1em;
        flex-basis: 50%; }
        .homelanding-inventory-container .homelanding-invetory-collection-row .test h1 {
          margin: 0; }
      .homelanding-inventory-container .homelanding-invetory-collection-row .img {
        width: 300px;
        height: 300px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover; } }

@media (min-width: 992px) and (max-width: 1199px), (min-width: 992px), (min-width: 812px) {
  .app-container {
    display: flex;
    flex-flow: column;
    background: white;
    margin: 1em 1.5em 0em 1.5em; }
    .app-container .navi-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 10px auto auto 10px; }
      .app-container .navi-container .navi-brand {
        grid-column: 2/4;
        grid-row-start: 2;
        justify-self: center;
        font-family: 'Lobster', cursive;
        font-size: 42px;
        font-weight: 600; }
      .app-container .navi-container .navi-social {
        grid-column: 2/4;
        grid-row-start: 3;
        justify-self: center; }
      .app-container .navi-container .navi-options {
        grid-column: 8/13;
        grid-row-start: 2;
        justify-self: end;
        align-self: center;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%; }
    .app-container .homelanding-container {
      background: white;
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: 50px auto 20px;
      grid-gap: 10px;
      padding: 1em; }
      .app-container .homelanding-container .homelanding-textinfo {
        grid-column: 2/9;
        grid-row-start: 2;
        display: flex;
        flex-flow: column;
        justify-self: center;
        align-self: center;
        text-align: center; }
        .app-container .homelanding-container .homelanding-textinfo h1 {
          padding: 0;
          margin: 0; }
        .app-container .homelanding-container .homelanding-textinfo p {
          margin: 1em 0em 1em 0em; }
        .app-container .homelanding-container .homelanding-textinfo button {
          font-size: 16px;
          padding: 30px 30px;
          background: white;
          border: 2px solid #e72444;
          color: #e72444;
          /*
                    background: pink;
                    padding: 30px 30px;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid black;
                    border-radius: 2px;
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                    */ }
      .app-container .homelanding-container .homelanding-banner {
        text-align: center;
        grid-column: 10/24;
        grid-row-start: 1;
        justify-self: center;
        align-self: end;
        font-weight: 600;
        text-decoration: underline; }
      .app-container .homelanding-container .homelanding-new {
        grid-column: 5/9;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-self: center;
        align-self: center; }
        .app-container .homelanding-container .homelanding-new img {
          grid-column: 1/1;
          grid-row: 1/1;
          object-fit: cover;
          width: 100%;
          height: auto;
          opacity: .75;
          z-index: 1; }
        .app-container .homelanding-container .homelanding-new h1 {
          grid-column: 1/1;
          grid-row: 1/1;
          opacity: 1;
          z-index: 2;
          align-self: center;
          justify-self: center; }
      .app-container .homelanding-container .homelanding-shop {
        grid-column: 9/12;
        grid-row-start: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-self: center; }
        .app-container .homelanding-container .homelanding-shop img {
          grid-column: 1/1;
          grid-row: 1/1;
          object-fit: cover;
          width: 100%;
          height: auto;
          opacity: .75;
          z-index: 1; }
        .app-container .homelanding-container .homelanding-shop h1 {
          grid-column: 1/1;
          grid-row: 1/1;
          opacity: 1;
          z-index: 2;
          align-self: center;
          justify-self: center; }
      .app-container .homelanding-container .homelanding-image {
        grid-column: 10/24;
        grid-row-start: 2; }
        .app-container .homelanding-container .homelanding-image img {
          width: 100%;
          height: auto; }
        .app-container .homelanding-container .homelanding-image .homelanding-small {
          display: none;
          visibility: hidden; }
    .app-container .homelanding-break {
      height: 10px;
      background: salmon; }
    .app-container .homelanding-carol-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 50px;
      padding: 1em;
      text-align: center; }
      .app-container .homelanding-carol-container .homelanding-carol-img {
        grid-column: 1/1;
        grid-row-start: 2; }
        .app-container .homelanding-carol-container .homelanding-carol-img img {
          width: 50%;
          height: auto; }
      .app-container .homelanding-carol-container .homelanding-carol-navi {
        grid-column: 1/1;
        grid-row-start: 3; }
      .app-container .homelanding-carol-container h2 {
        grid-column: 1/1;
        grid-row-start: 1; }
    .app-container .homelanding-inventory-container {
      display: flex;
      flex-flow: column;
      padding: 1em; }
      .app-container .homelanding-inventory-container .homelanding-inventory-banner {
        margin: 0;
        text-align: center;
        font-family: 'Lobster', cursive; }
      .app-container .homelanding-inventory-container .homelanding-inventory-collection-row {
        display: flex;
        flex-flow: row; }
        .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item {
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 1em;
          flex-basis: 50%; }
          .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item h1 {
            margin: 0;
            text-align: center;
            width: 100%; }
          .app-container .homelanding-inventory-container .homelanding-inventory-collection-row .homelanding-inventory-collection-item .img {
            width: 275px;
            height: 275px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2px; }
    .app-container .homelanding-about-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 1em 5em 0em 5em; }
      .app-container .homelanding-about-container .homelanding-about-banner {
        font-family: 'Lobster', cursive;
        margin: 0; }
      .app-container .homelanding-about-container .homelanding-about-item {
        width: 100%;
        height: 160px; }
        .app-container .homelanding-about-container .homelanding-about-item .homelanding-about-img {
          background: 1px solid black;
          border-radius: 2px;
          width: 100%;
          height: 100%;
          background-image: url("../images/blackbackgroundimage.jpg");
          background-position: center;
          background-size: cover; }
      .app-container .homelanding-about-container .homelanding-about-text {
        padding: 1em 5em 5em 5em; }
        .app-container .homelanding-about-container .homelanding-about-text h1 {
          padding: 0;
          margin: 0;
          text-align: center; }
        .app-container .homelanding-about-container .homelanding-about-text p {
          text-align: center; }
        .app-container .homelanding-about-container .homelanding-about-text button {
          width: 100%;
          font-size: 16px;
          padding: 30px 30px;
          background: white;
          border: 2px solid #e72444;
          color: #e72444; }
    .app-container .shop-container {
      display: flex;
      flex-flow: column;
      padding-top: 3em; }
      .app-container .shop-container .shop-categories {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 10px 0px;
        font-weight: 600; }
      .app-container .shop-container .shop-home-items-banner {
        padding-left: 1em;
        margin: 1em 0em .5em 0em; }
        .app-container .shop-container .shop-home-items-banner span {
          font-family: 'Lobster', cursive;
          border-bottom: 3px solid black; }
      .app-container .shop-container .shop-home-items-container {
        display: flex;
        flex-flow: row wrap;
        padding: 0em 1em 1em 1em; }
        .app-container .shop-container .shop-home-items-container .shop-home-item {
          display: flex;
          flex-flow: column wrap;
          flex-basis: 45%;
          padding: 1em; }
          .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img {
            width: 100%;
            height: 250px; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              overflow: hidden;
              transition: transform .2s;
              border-radius: 3px; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img:hover {
              transform: scale(0.95); }
          .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info {
            display: flex;
            flex-flow: row; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text {
              display: flex;
              flex-flow: column;
              flex-basis: 75%;
              margin: 0; }
              .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text h2, .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text p {
                margin: 0; }
            .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view {
              flex: 1;
              justify-self: center;
              align-self: center;
              text-align: center; }
              .app-container .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view button {
                width: 100%;
                padding: 15px 0px;
                border: 1px solid #e72444;
                color: #e72444;
                font-weight: 600;
                background: white;
                border-radius: 3px; }
      .app-container .shop-container .shop-home-shopall {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0em 0em 1em 0em; }
        .app-container .shop-container .shop-home-shopall button {
          width: 80%;
          padding: 15px 0px;
          border: 1px solid #e72444;
          color: #e72444;
          font-weight: 600;
          font-size: 24px;
          background: white;
          border-radius: 3px; }
      .app-container .shop-container .shop-home-item-subscribe {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5em; }
        .app-container .shop-container .shop-home-item-subscribe h1, .app-container .shop-container .shop-home-item-subscribe p, .app-container .shop-container .shop-home-item-subscribe form {
          margin: 0; }
        .app-container .shop-container .shop-home-item-subscribe h1 {
          margin: 0em 0em .5em 0em; }
        .app-container .shop-container .shop-home-item-subscribe p {
          margin: 0em 0em 1em 0em; }
        .app-container .shop-container .shop-home-item-subscribe form {
          text-align: center;
          width: 100%; }
          .app-container .shop-container .shop-home-item-subscribe form #email {
            width: 40%;
            padding: 15px 15px; }
          .app-container .shop-container .shop-home-item-subscribe form #submit {
            border: 1px solid #e72444;
            color: #e72444;
            background: white;
            padding: 15px 15px; }
    .app-container .shop-product-container {
      display: flex;
      flex-flow: column; }
      .app-container .shop-product-container .shop-product-main-navi {
        display: flex;
        flex-flow: row; }
      .app-container .shop-product-container .shop-product-main {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-template-rows: repeat(24, auto); }
        .app-container .shop-product-container .shop-product-main .shop-product-main-img {
          grid-column: 2/12;
          grid-row-start: 4;
          width: 100%;
          height: 200px; }
          .app-container .shop-product-container .shop-product-main .shop-product-main-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: transform .2s;
            border-radius: 3px; }
        .app-container .shop-product-container .shop-product-main .shop-product-main-info {
          grid-column: 14/24;
          grid-row-start: 4; }
          .app-container .shop-product-container .shop-product-main .shop-product-main-info h1 {
            margin: 0; }
    .app-container .footer-container {
      padding: 3em 0em 3em 0em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center; }
      .app-container .footer-container h1 {
        margin: 0; } }
