//@import "./variables.scss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css?family=Lobster|Bad+Script1&display=swap";
@import "./small.scss";
@import "./medium.scss";
