@media (min-width: 992px) 
and (max-width: 1199px), (min-width: 992px), (min-width: 812px){
    .app-container {
        display: flex;
        flex-flow: column;
        background: white;
        margin: 1em 1.5em 0em 1.5em;

        //Navigation
        .navi-container {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 10px auto auto 10px;

            .navi-brand {
                grid-column: 2/4;
                grid-row-start: 2;
                justify-self: center;
                font-family: 'Lobster', cursive;
                font-size: 42px;
                font-weight: 600;
            }
            
            .navi-social {
                grid-column: 2/4;
                grid-row-start: 3;
                justify-self: center;
            }

            .navi-options {
                grid-column: 8/13;
                grid-row-start: 2;
                justify-self: end;
                align-self: center;
                font-weight: 700;
                font-size: 20px;
                text-decoration: underline;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
            }
        }

        .homelanding-container {
            background: white;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            grid-template-rows: 50px auto 20px;
            grid-gap: 10px;
            padding: 1em;
            
            .homelanding-textinfo {
                grid-column: 2/9;
                grid-row-start: 2;
                
                display: flex;
                flex-flow: column;
                justify-self: center;
                align-self: center;
                text-align: center;

                h1 {
                    padding: 0;
                    margin: 0;
                }

                p {
                    margin: 1em 0em 1em 0em;
                }

                button {
                    font-size: 16px;
                    padding: 30px 30px;
                    background: white;
                    border: 2px solid $custom-pink;
                    color: $custom-pink;
                    /*
                    background: pink;
                    padding: 30px 30px;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid black;
                    border-radius: 2px;
                    color: black;
                    font-size: 16px;
                    font-weight: 600;
                    */
                }
            }
            
            .homelanding-banner {
                text-align: center;
                grid-column: 10/24;
                grid-row-start: 1;
                justify-self: center;
                align-self: end;
                font-weight: 600;
                text-decoration: underline;
            }

            .homelanding-new {
                grid-column: 5/9;
                grid-row-start: 2;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;

                justify-self: center;
                align-self: center;

                img {
                    grid-column: 1/1;
                    grid-row: 1/1;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    opacity: .75;
                    z-index: 1;
                }

                h1 {
                    grid-column: 1/1;
                    grid-row: 1/1;
                    opacity: 1;
                    z-index: 2;
                    align-self: center;
                    justify-self: center;
                }
            }

            .homelanding-shop {
                grid-column: 9/12;
                grid-row-start: 2;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
                
                align-self: center;

                img {
                    grid-column: 1/1;
                    grid-row: 1/1;
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    opacity: .75;
                    z-index: 1;
                }

                h1 {
                    grid-column: 1/1;
                    grid-row: 1/1;
                    opacity: 1;
                    z-index: 2;
                    align-self: center;
                    justify-self: center;
                }
            }

            .homelanding-image {
                grid-column: 10/24;
                grid-row-start: 2;
                
                img {
                    width: 100%;
                    height: auto;
                }

                .homelanding-small {
                    display: none;
                    visibility: hidden;
                }
            }
        }

        .homelanding-break {
            height: 10px;
            background: salmon;
        }

        .homelanding-carol-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 50px;
            padding: 1em;
            text-align: center;
            
            .homelanding-carol-img {
                grid-column: 1/1;
                grid-row-start: 2;
                //margin: 0em 5em 0em 5em;

                img {
                    width: 50%;
                    height: auto;
                }
            }

            .homelanding-carol-navi {
                grid-column: 1/1;
                grid-row-start: 3;
            }

            h2 {
                grid-column: 1/1;
                grid-row-start: 1;
            }
        }

        .homelanding-inventory-container {
            display: flex;
            flex-flow: column;
            padding: 1em;

            .homelanding-inventory-banner {
                margin: 0;
                text-align: center;
                font-family: 'Lobster', cursive;
            }

            .homelanding-inventory-collection-row {
                display: flex;
                flex-flow: row;
                
                .homelanding-inventory-collection-item {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    padding: 1em;
                    flex-basis: 50%;

                    h1 {
                        margin: 0;
                        text-align: center;
                        width: 100%;
                    }

                    .img {
                        //padding: 1em;
                        //margin: 3em;
                        width: 275px;
                        height: 275px;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 2px;
                    }
                }
            }
        }

        .homelanding-about-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 1em 5em 0em 5em;

            .homelanding-about-banner {
                font-family: 'Lobster', cursive;
                margin: 0;
            }

            .homelanding-about-item {
                width: 100%;
                height: 160px;

                .homelanding-about-img {
                    background: 1px solid black;
                    border-radius: 2px;
                    width: 100%;
                    height: 100%;
                    background-image: url("../images/blackbackgroundimage.jpg");
                    background-position: center;
                    background-size: cover;
                }

            }

            .homelanding-about-text {
                padding: 1em 5em 5em 5em;
                
                h1 {
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                button {
                    width: 100%;
                    font-size: 16px;
                    padding: 30px 30px;
                    background: white;
                    border: 2px solid $custom-pink;
                    color: $custom-pink;
                }
            }
        }

        .shop-container {
            display: flex;
            flex-flow: column;
            padding-top: 3em;

            .shop-categories {
                display: flex;
                flex-flow: row;
                justify-content: space-evenly;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                padding: 10px 0px;
                font-weight: 600;
            }

            .shop-filters {

            }

            .shop-home-items-banner {
                padding-left: 1em;
                //color: $custom-pink;
                margin: 1em 0em .5em 0em;

                span {
                    font-family: 'Lobster', cursive;
                    border-bottom: 3px solid black;
                }
            }

            .shop-home-items-container {
                display: flex;
                flex-flow: row wrap;
                padding: 0em 1em 1em 1em;

                .shop-home-item {
                    display: flex;
                    flex-flow: column wrap;
                    flex-basis: 45%;
                    padding: 1em;

                    .shop-home-item-img {
                        width: 100%;
                        height: 250px;

                        img {
                           width: 100%;
                           height: 100%;
                           object-fit: cover;
                           overflow: hidden;
                           transition: transform .2s;
                           border-radius: 3px;
                        }

                        img:hover {
                            transform: scale(.95);
                        }
                    }

                    .shop-home-item-info {
                        display: flex;
                        flex-flow: row;

                        .shop-home-item-info-text {
                            display: flex;
                            flex-flow: column;
                            flex-basis: 75%;
                            margin: 0;

                            h2, p{
                                margin: 0;
                            }
                        }

                        .shop-home-item-info-view {
                            flex: 1;
                            justify-self: center;
                            align-self: center;
                            text-align: center;

                            button {
                                width: 100%;
                                padding: 15px 0px;
                                border: 1px solid $custom-pink;
                                color: $custom-pink;
                                font-weight: 600;
                                background: white;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }

            .shop-home-shopall {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: 0em 0em 1em 0em;

                button {
                    width: 80%;
                    padding: 15px 0px;
                    border: 1px solid $custom-pink;
                    color: $custom-pink;
                    font-weight: 600;
                    font-size: 24px;
                    background: white;
                    border-radius: 3px;
                }
            }

            .shop-home-item-subscribe {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                padding: 5em;

                h1, p, form {
                    margin: 0;
                }

                h1 {
                    margin: 0em 0em .5em 0em;
                }

                p {
                    margin: 0em 0em 1em 0em;
                }

                form {
                    text-align: center;
                    width: 100%;

                    #email {
                        width: 40%;
                        padding: 15px 15px;
                    }

                    #submit {
                        border: 1px solid $custom-pink;
                        color: $custom-pink;
                        background: white;
                        padding: 15px 15px;
                    }
                }
            }
        }

        .shop-product-container {
            display: flex;
            flex-flow: column;

            .shop-product-main-navi {
                display: flex;
                flex-flow: row;
                
            }

            .shop-product-main {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                grid-template-rows: repeat(24, auto);

                .shop-product-main-img {
                    grid-column: 2/12;
                    grid-row-start: 4;
                    width: 100%;
                    height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        transition: transform .2s;
                        border-radius: 3px;
                    }
                }

                .shop-product-main-info {
                    grid-column: 14/24;
                    grid-row-start: 4;

                    h1 {
                        margin: 0;
                    }
                }
            }
        }

        .footer-container {
            padding: 3em 0em 3em 0em;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            h1 {
                margin: 0;
                
            }

            .footer-social {
                
            }
        }
    }
}