@import '../../node_modules/material-icons/iconfont/material-icons.css';
$custom-pink: rgb(231, 36, 68);

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3), (max-device-width : 667px) { 

    .app-container {
        display: flex;
        flex-flow: column;
        background: rgba(240, 240, 240, 1);

        .homelanding-banner {
            display: flex;
            flex-flow: row;
            text-align: center;
            background: black;
            color: white;
            padding: 15px 15px;
        }
    }

    .navi-container {
        display: flex;
        flex-flow: row;
        align-items: center;

        color: black;
        background: white;

        height: 55px;
        width: 100%;
        z-index: 10;

        position: fixed;


        .navi-overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;

            .navi-overlay-close {
                text-align: center;
                padding: 2em 0em 0em 0px;
                color: white;
            }

            .navi-overlay-content {
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;

                a {
                    padding: 8px;
                    text-decoration: none;
                    font-size: 36px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                    font-weight: bold;
                }
            }
        }

        .navi-options {
            visibility: hidden;
            display: none;
        }

        .navi-bar-sm {
            display: flex;
            flex-flow: row;
            width: 100%;

            .navi-bar-sm-left {
                display: flex;
                flex-flow: row;
                flex-basis: 20%;

                span {
                    align-self: center;
                    text-align: center;
                    width: 100%;
                    font-size: 20px;
                }
            }

            .navi-bar-sm-middle {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                flex: 1;

                #logo-text {
                    display: flex;
                    flex-flow: column;
                    margin: 0em .2em;

                    .navi-brand {
                        font-family: 'Lobster', cursive;
                        font-size: 24px;
                        font-weight: 500;
                        text-align: center;
                    }
                }
                
                #logo {
                    //width: 100%;
                    height: 20px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            .navi-bar-sm-right {
                display: flex;
                flex-flow: row;
                flex-basis: 20%;

                justify-content: center;
                align-items: center;

                font-size: 16px;
                font-family: 'Lobster', cursive;

                span {
                    margin: 0em .2em;
                    font-size: 20px;
                }
            }
        }
    }

    .homelanding-container {
        display: flex;
        flex-flow: column;
        margin-top: 40px;
        background: white;

        .sale {
            color: white;
            text-align: center;
            padding: 10px 0px;
            background: black;
            width: 100%;
        }
        
        .homelanding-text {
            text-align: center;
            padding: 50px 2em 1em 2em;

            h3 {
                margin: 0;
                font-size: 16px;
                opacity: .8;
            }

            p {
                margin: 0;
                opacity: .5;
                text-align: center;
            }
        }

        .homelanding-shop-display {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 0em 1em;

            ul {
                width: 100%;
                padding: 0em 0em;
                margin: 0em 0em;
                list-style: none;
                text-align: right;
                font-family: "lobster";
                
                li {
                    display: inline;
                    margin: 0em 0em 0em .5em;
                }
            }

            .homelanding-shop-display-images {
                
                height: 200px;
                display: flex;  

                img {
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }
            }
            
            button {
                width: 100%;
                border: 1px solid black;
                color: black;
                background: rgba(240, 240, 240, 1);
                font-size: 16px;
                font-weight: 600;
                padding: 8px 0px;
                font-family: "lobster";
            }
        }
    }

    .homelanding-break {
        height: 10px;
        background: white;
    }

    .homelanding-subscribe {
        margin: 0em 1em;
        background: white;

        .homelanding-subscribe-text {
            text-align: center;
            margin-top: 2em;
            
            h3 {
                margin: 0;
                font-size: 16px;
                opacity: .8;
            }

            p {
                margin: 0;
                opacity: .5;
                text-align: center;
            }
        }
        .homelanding-subscribe-container {
            background: rgba(0, 0, 0, .9);
            background-image: url("../images/candle10.jpeg"); 
            height: 500px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;  
            color: white;
            
            p {
                margin: 0px 0px 15px 0px;
                font-size: 18px;
                font-family: 'Lobster', ;
                font-weight: 400;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
    
            h3 {
                margin: 0px 0px 15px 0px;
                font-size: 32px;
                font-family: 'Lobster', ;
                font-weight: 400;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
    
            input {
                width: 75%;
                padding: 15px 0px;
                text-align: center;
                font-size: 16px;
                border: .5px solid black;
                margin: 0px 0px 5px 0px;
                //border-radius: 5px;
            }
        }
    }
    

    .homelanding-IG-container {
        display: flex;
        flex-flow: column;
        //background-image: linear-gradient(to left, rgba(234, 216, 216, .0), rgba(234, 216, 216, 1));

        h2 {
            text-align: center;
            width: 100%;
            margin: 1em 0em 0em 0em;
        }


        p {
            text-align: center;
            margin: 15px 0px;
        }

        .homelanding-IG-images {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            //margin: 5%;
            padding-bottom: 1em;
                        
            div {
                flex-basis: 175px;
                height: 125px;
                border: .5px solid white;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
    }

    .shop-container {
        display: flex;
        flex-flow: column;
        

        .shop-home-items-banner {
            text-align: center;
            //margin: 1em 0em 0em 0em;
            padding: 15px 0px;
            
            span {
                font-size: 32px;
                //text-decoration: underline;
                font-weight: 600;
            }

            p {
                margin: 0;
                margin: 10px 0px 0px 0px;
                font-style: italic;
            }
        }

        .shop-categories {
            
        }

        .shop-filters {
            //margin: 1em 0em;
        }

        .shop-home-items-container {
            display: flex;
            flex-flow: column;

            .shop-home-item {
                display: flex;
                flex-flow: row;
                margin: 0px 0px 15px 0px;
                padding: 0px 0px;
                text-align: center;

                .shop-home-item-img {
                    width: 100%;
                    height: 150px;
                    justify-self: flex-end;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        transition: transform .2s;
                        //border-radius: 3px;
                    }

                    img:hover {
                        //transform: scale(.95);
                    }
                }

                .shop-home-item-info {
                    display: flex;
                    flex-flow: row;
                    padding: 0px 15px;
                    
                    .shop-home-item-info-text {
                        text-align: center;
                        align-self: center;
                        

                        h2 {
                            //color: $custom-pink;
                            margin: 0;
                        }

                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }

                    .shop-home-item-info-view {
                        text-align: end;
                        flex: 1;
                        align-self: flex-end;
                    
                        button {
                            padding: 20px 20px;
                            background: white;
                            border: 1px solid $custom-pink;
                            color: $custom-pink;
                            font-size: 16px;
                        }
                    }
                }
            }
            
            .shop-home-shopall {
                display: flex;
                flex-flow: row;
                justify-content: center;
                
                button {
                    padding: 15px 100px;
                    border: 1px solid $custom-pink;
                    background: white;
                    color: $custom-pink;
                    font-size: 18px;
                }
            }
        }

    }


    .vibras-button-1 {
        //@at-root: rgba(0, 0, 0, 1);
        background: rgb(255, 255, 255);
        color: black;
        //background: #3b5998;
        width: 75%;
        padding: 15px 0px;
        font-weight: 600;
        font-size: 14px;
        border: 1px solid black;
        border-radius: 3px;
        align-self: center;
        
        //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .footer-container {
        background: rgba(0, 0, 0, .9);
        text-align: center;
        color: white;

        .footer-social {
            display: flex;
            flex-flow: column;
            padding: 15px 0px;
        }

        ul {
            text-decoration: none;
            list-style: none;
            padding: 15px 0px;
            margin: 0;
            font-size: 24px;
        }
    }
}