@import '../../node_modules/material-icons/iconfont/material-icons.css';
$custom-pink: rgb(231, 36, 68);

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3), (max-device-width : 667px){ 

    .app-container {
        display: flex;
        flex-flow: column;
        background: white;
        //margin: 1em 1em 0em 1em;
        border-radius: 3px;

        .homelanding-banner {
            display: flex;
            flex-flow: row;
            text-align: center;
            background: black;
            color: white;
            padding: 15px 15px;
        }

        .navi-container {
            display: flex;
            flex-flow: column;
            color: white;
            //padding: 8px 0px;
            margin: 0em 0em;
            padding: 15px 0em;
            
            //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            //text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            
            .navi-overlay {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                background-color: rgb(0,0,0); 
                background-color: rgba(0,0,0, 0.9);
                overflow-x: hidden;
                transition: 0.5s;

                .navi-overlay-close {
                    text-align: center;
                    padding: 2em 0em 0em 0px;
                    color: white;
                }

                .navi-overlay-content {
                    position: relative;
                    top: 25%;
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;

                    a {
                        padding: 8px;
                        text-decoration: none;
                        font-size: 36px;
                        color: #818181;
                        display: block;
                        transition: 0.3s;
                        font-weight: bold;
                    }
                }
            }

            .navi-options {
                visibility: hidden;
                display: none;
            }

            .navi-options-sm {
                display: flex;
                flex-flow: row;
                justify-content: space-around;

                .navi-options-sm-left {
                    display: flex;
                    flex-flow: row;
                    
                    justify-content: center;
                    align-items: center;
                    
                    span {
                        font-size: 28px;
                    }
                }

                .navi-options-sm-middle {
                    display: flex;
                    flex-flow: column;
                    

                    .navi-brand {
                        font-family: 'Lobster', cursive;
                        font-size: 36px;
                        font-weight: 600;
                        text-align: center;
                    }
                    
                    .navi-social {
                        font-family: 'Lobster', cursive;

                        text-align: center;
                    }
                }

                .navi-options-sm-right {
                    display: flex;
                    flex-flow: row;
                    
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 28px;
                    }
                }
            }
        }
    }

    .homelanding-container {
        background: white;
        display: flex;
        flex-flow: column;
        
        .sale {
            color: white;
            text-align: center;
            padding: 5px 0px;
            background: black;
            width: 100%;
        }
        
        .homelanding-image {
            display: flex;
            flex-flow: column;
            z-index: 0;

            background: rgba(0, 0, 0, .9);
            background-image: url("../images/candle11.jpeg"); 
            height: 400px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            
            .homelanding-text {
                display: flex;
                flex-flow: column;
                color: white;
                align-items: center;
                justify-content: center;
                margin-bottom: 3em;
                height: 100%;
                
                
                div {
                    width: 100%;
                    padding: 15px 0px;
                    background: rgba(0,0,0, 0.4);

                    h3 {
                        font-size: 40px;
                        font-family: 'Lobster', cursive;
                        text-align: center;
                        margin: 0;
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                        font-weight: 600;
                    }

                    p {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        font-size: 22px;
                        font-weight: 600;
                        font-family: 'Lobster', cursive;
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    }
                }
            }
        }
    }

    .homelanding-break {
        height: 10px;
        background: salmon;
    }

    .homelanding-inventory-container {
        display: flex;
        flex-flow: column;
        padding: 0em 0em 1em 0px;
        background: white;
        //background-image: linear-gradient(to  left, rgba(234, 216, 216, .0), rgba(234, 216, 216, 1));
    

        .homelanding-inventory-banner {
            text-align: center;
            font-family: 'Lobster', cursive;
        }

        .homelanding-inventory-button {
            width: 25%;
            font-size: 14px;
            padding: 10px 0px;
            background: #FFFFFF;
            opacity: .8;
            border: 1px solid $custom-pink;
            //border-radius: 50px;
            color: $custom-pink;
            margin-bottom: 15px;
            font-weight: 600;
            align-self: center;
        }

        .homelanding-inventory-collection-row {
            display: flex;
            flex-flow: row;
            overflow-y: scroll;
            width: 100%;
            padding: 0px 0px 0px 0px;

            .homelanding-inventory-collection-item {
                display: flex;
                flex-flow: column;
                padding-left: 10px;
                
                .homelanding-inventory-collection-item-img {
                    width: 100%;
                    height: 100px;
                    background-image: url("../images/candle3.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 3px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    width: 150px;
                    text-align: center;
                    margin: 0;
                    font-weight: 600;
                }

                span {
                    text-align: center;
                }
                
                #reviews {
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 18px;
                        color: black;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .homelanding-subscribe-container {
        background: rgba(0, 0, 0, .9);
        background-image: url("../images/candle10.jpeg"); 
        height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;  
        color: white;
        
        p {
            margin: 0px 0px 15px 0px;
            font-size: 18px;
            font-family: 'Lobster', ;
            font-weight: 400;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        h3 {
            margin: 0px 0px 15px 0px;
            font-size: 32px;
            font-family: 'Lobster', ;
            font-weight: 400;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }

        input {
            width: 75%;
            padding: 15px 0px;
            text-align: center;
            font-size: 16px;
            border: .5px solid black;
            margin: 0px 0px 5px 0px;
            //border-radius: 5px;
        }
    }

    .homelanding-IG-container {
        display: flex;
        flex-flow: column;
        //background-image: linear-gradient(to left, rgba(234, 216, 216, .0), rgba(234, 216, 216, 1));

        h2 {
            text-align: center;
            width: 100%;
            margin: 1em 0em 0em 0em;
        }


        p {
            text-align: center;
            margin: 15px 0px;
        }

        .homelanding-IG-images {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            //margin: 5%;
            padding-bottom: 1em;
                        
            div {
                flex-basis: 175px;
                height: 125px;
                border: .5px solid white;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    overflow: hidden;
                }
            }
        }
    }

    .shop-container {
        display: flex;
        flex-flow: column;
        

        .shop-home-items-banner {
            text-align: center;
            //margin: 1em 0em 0em 0em;
            padding: 15px 0px;
            
            span {
                font-size: 32px;
                //text-decoration: underline;
                font-weight: 600;
            }

            p {
                margin: 0;
                margin: 10px 0px 0px 0px;
                font-style: italic;
            }
        }

        .shop-categories {
            
        }

        .shop-filters {
            //margin: 1em 0em;
        }

        .shop-home-items-container {
            display: flex;
            flex-flow: column;

            .shop-home-item {
                display: flex;
                flex-flow: row;
                margin: 0px 0px 15px 0px;
                padding: 0px 0px;
                text-align: center;

                .shop-home-item-img {
                    width: 100%;
                    height: 150px;
                    justify-self: flex-end;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        transition: transform .2s;
                        //border-radius: 3px;
                    }

                    img:hover {
                        //transform: scale(.95);
                    }
                }

                .shop-home-item-info {
                    display: flex;
                    flex-flow: row;
                    padding: 0px 15px;
                    
                    .shop-home-item-info-text {
                        text-align: center;
                        align-self: center;
                        

                        h2 {
                            //color: $custom-pink;
                            margin: 0;
                        }

                        p {
                            margin: 0;
                            font-weight: 600;
                        }
                    }

                    .shop-home-item-info-view {
                        text-align: end;
                        flex: 1;
                        align-self: flex-end;
                    
                        button {
                            padding: 20px 20px;
                            background: white;
                            border: 1px solid $custom-pink;
                            color: $custom-pink;
                            font-size: 16px;
                        }
                    }
                }
            }
            
            .shop-home-shopall {
                display: flex;
                flex-flow: row;
                justify-content: center;
                
                button {
                    padding: 15px 100px;
                    border: 1px solid $custom-pink;
                    background: white;
                    color: $custom-pink;
                    font-size: 18px;
                }
            }
        }

    }


    .vibras-button-1 {
        //margin-top: 1em;
        width: 75%;
        font-size: 14px;
        padding: 15px 0px;
        background: #3b5998;
        opacity: 1;
        border: 1px solid black;
        //border-radius: 50px;
        color: white;
        //margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        align-self: center;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    .footer-container {
        background: rgba(0, 0, 0, .9);
        text-align: center;
        color: white;

        .footer-social {
            display: flex;
            flex-flow: column;
            padding: 15px 0px;
        }

        ul {
            text-decoration: none;
            list-style: none;
            padding: 15px 0px;
            margin: 0;
            font-size: 24px;
        }
    }
}