@import url(../../node_modules/material-icons/iconfont/material-icons.css);
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3), (max-device-width: 667px) {
  .app-container {
    display: flex;
    flex-flow: column;
    background: #f0f0f0; }
    .app-container .homelanding-banner {
      display: flex;
      flex-flow: row;
      text-align: center;
      background: black;
      color: white;
      padding: 15px 15px; }
  .navi-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    color: black;
    background: white;
    height: 55px;
    width: 100%;
    z-index: 10;
    position: fixed; }
    .navi-container .navi-overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.9);
      overflow-x: hidden;
      transition: 0.5s; }
      .navi-container .navi-overlay .navi-overlay-close {
        text-align: center;
        padding: 2em 0em 0em 0px;
        color: white; }
      .navi-container .navi-overlay .navi-overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px; }
        .navi-container .navi-overlay .navi-overlay-content a {
          padding: 8px;
          text-decoration: none;
          font-size: 36px;
          color: #818181;
          display: block;
          transition: 0.3s;
          font-weight: bold; }
    .navi-container .navi-options {
      visibility: hidden;
      display: none; }
    .navi-container .navi-bar-sm {
      display: flex;
      flex-flow: row;
      width: 100%; }
      .navi-container .navi-bar-sm .navi-bar-sm-left {
        display: flex;
        flex-flow: row;
        flex-basis: 20%; }
        .navi-container .navi-bar-sm .navi-bar-sm-left span {
          align-self: center;
          text-align: center;
          width: 100%;
          font-size: 20px; }
      .navi-container .navi-bar-sm .navi-bar-sm-middle {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        flex: 1; }
        .navi-container .navi-bar-sm .navi-bar-sm-middle #logo-text {
          display: flex;
          flex-flow: column;
          margin: 0em .2em; }
          .navi-container .navi-bar-sm .navi-bar-sm-middle #logo-text .navi-brand {
            font-family: 'Lobster', cursive;
            font-size: 24px;
            font-weight: 500;
            text-align: center; }
        .navi-container .navi-bar-sm .navi-bar-sm-middle #logo {
          height: 20px; }
          .navi-container .navi-bar-sm .navi-bar-sm-middle #logo img {
            max-width: 100%;
            max-height: 100%; }
      .navi-container .navi-bar-sm .navi-bar-sm-right {
        display: flex;
        flex-flow: row;
        flex-basis: 20%;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: 'Lobster', cursive; }
        .navi-container .navi-bar-sm .navi-bar-sm-right span {
          margin: 0em .2em;
          font-size: 20px; }
  .homelanding-container {
    display: flex;
    flex-flow: column;
    margin-top: 40px;
    background: white; }
    .homelanding-container .sale {
      color: white;
      text-align: center;
      padding: 10px 0px;
      background: black;
      width: 100%; }
    .homelanding-container .homelanding-text {
      text-align: center;
      padding: 50px 2em 1em 2em; }
      .homelanding-container .homelanding-text h3 {
        margin: 0;
        font-size: 16px;
        opacity: .8; }
      .homelanding-container .homelanding-text p {
        margin: 0;
        opacity: .5;
        text-align: center; }
    .homelanding-container .homelanding-shop-display {
      display: flex;
      flex-flow: column;
      align-items: center;
      margin: 0em 1em; }
      .homelanding-container .homelanding-shop-display ul {
        width: 100%;
        padding: 0em 0em;
        margin: 0em 0em;
        list-style: none;
        text-align: right;
        font-family: "lobster"; }
        .homelanding-container .homelanding-shop-display ul li {
          display: inline;
          margin: 0em 0em 0em .5em; }
      .homelanding-container .homelanding-shop-display .homelanding-shop-display-images {
        height: 200px;
        display: flex; }
        .homelanding-container .homelanding-shop-display .homelanding-shop-display-images img {
          object-fit: cover;
          width: 100%;
          height: auto; }
      .homelanding-container .homelanding-shop-display button {
        width: 100%;
        border: 1px solid black;
        color: black;
        background: #f0f0f0;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 0px;
        font-family: "lobster"; }
  .homelanding-break {
    height: 10px;
    background: white; }
  .homelanding-subscribe {
    margin: 0em 1em;
    background: white; }
    .homelanding-subscribe .homelanding-subscribe-text {
      text-align: center;
      margin-top: 2em; }
      .homelanding-subscribe .homelanding-subscribe-text h3 {
        margin: 0;
        font-size: 16px;
        opacity: .8; }
      .homelanding-subscribe .homelanding-subscribe-text p {
        margin: 0;
        opacity: .5;
        text-align: center; }
    .homelanding-subscribe .homelanding-subscribe-container {
      background: rgba(0, 0, 0, 0.9);
      background-image: url("../images/candle10.jpeg");
      height: 500px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: white; }
      .homelanding-subscribe .homelanding-subscribe-container p {
        margin: 0px 0px 15px 0px;
        font-size: 18px;
        font-family: "Lobster";
        font-weight: 400;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
      .homelanding-subscribe .homelanding-subscribe-container h3 {
        margin: 0px 0px 15px 0px;
        font-size: 32px;
        font-family: "Lobster";
        font-weight: 400;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
      .homelanding-subscribe .homelanding-subscribe-container input {
        width: 75%;
        padding: 15px 0px;
        text-align: center;
        font-size: 16px;
        border: .5px solid black;
        margin: 0px 0px 5px 0px; }
  .homelanding-IG-container {
    display: flex;
    flex-flow: column; }
    .homelanding-IG-container h2 {
      text-align: center;
      width: 100%;
      margin: 1em 0em 0em 0em; }
    .homelanding-IG-container p {
      text-align: center;
      margin: 15px 0px; }
    .homelanding-IG-container .homelanding-IG-images {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-bottom: 1em; }
      .homelanding-IG-container .homelanding-IG-images div {
        flex-basis: 175px;
        height: 125px;
        border: .5px solid white; }
        .homelanding-IG-container .homelanding-IG-images div img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden; }
  .shop-container {
    display: flex;
    flex-flow: column; }
    .shop-container .shop-home-items-banner {
      text-align: center;
      padding: 15px 0px; }
      .shop-container .shop-home-items-banner span {
        font-size: 32px;
        font-weight: 600; }
      .shop-container .shop-home-items-banner p {
        margin: 0;
        margin: 10px 0px 0px 0px;
        font-style: italic; }
    .shop-container .shop-home-items-container {
      display: flex;
      flex-flow: column; }
      .shop-container .shop-home-items-container .shop-home-item {
        display: flex;
        flex-flow: row;
        margin: 0px 0px 15px 0px;
        padding: 0px 0px;
        text-align: center; }
        .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img {
          width: 100%;
          height: 150px;
          justify-self: flex-end; }
          .shop-container .shop-home-items-container .shop-home-item .shop-home-item-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: transform .2s; }
        .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info {
          display: flex;
          flex-flow: row;
          padding: 0px 15px; }
          .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text {
            text-align: center;
            align-self: center; }
            .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text h2 {
              margin: 0; }
            .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-text p {
              margin: 0;
              font-weight: 600; }
          .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view {
            text-align: end;
            flex: 1;
            align-self: flex-end; }
            .shop-container .shop-home-items-container .shop-home-item .shop-home-item-info .shop-home-item-info-view button {
              padding: 20px 20px;
              background: white;
              border: 1px solid #e72444;
              color: #e72444;
              font-size: 16px; }
      .shop-container .shop-home-items-container .shop-home-shopall {
        display: flex;
        flex-flow: row;
        justify-content: center; }
        .shop-container .shop-home-items-container .shop-home-shopall button {
          padding: 15px 100px;
          border: 1px solid #e72444;
          background: white;
          color: #e72444;
          font-size: 18px; }
  .vibras-button-1 {
    background: white;
    color: black;
    width: 75%;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 3px;
    align-self: center; }
  .footer-container {
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white; }
    .footer-container .footer-social {
      display: flex;
      flex-flow: column;
      padding: 15px 0px; }
    .footer-container ul {
      text-decoration: none;
      list-style: none;
      padding: 15px 0px;
      margin: 0;
      font-size: 24px; } }
